

.general-presentation {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    padding-left: auto;

}

.logo {
    width: 319px;
    height: 319px;
    border-radius: 5px;
}

.general-presentation-text {
    height: 260px;
    width: 776px;

    text-align: left;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: large;
    font-weight:600;
}

.subtitle {
    font-size:medium;

    padding-top: 5px;
}

.description {
    font-size:small;

    padding-top: 12px;
}